@model HRM_PLUS_PROJECT.Models.Transaccion

@{
    ViewData["Title"] = "Ver Transacción";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Transacciones</h5>
                    <h4 class="card-title"> Ver Transacción</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                    @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                            </th>
                            <th>
                                    @Html.DisplayNameFor(model => model.IdTipoTransaccionNavigation)
                            </th>
                            <th>
                                    @Html.DisplayNameFor(model => model.Monto)
                            </th>
                            <th>
                                    @Html.DisplayNameFor(model => model.FechaRegistro)
                            </th>
                            <th>
                                    @Html.DisplayNameFor(model => model.UsuarioCreacion)
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.IdEmpleadoNavigation.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.IdTipoTransaccionNavigation.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Monto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FechaRegistro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UsuarioCreacion)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="right-button">
                            <div class="form-group">
                                <br />
                                @*<a href="./Edit?id=@Model?.IdTransaccion" class="btn btn-outline-primary">Editar</a>*@
                                <a class="btn btn-outline-info" href="@Url.Action("Index", "Transacciones")">Volver</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

