@model IEnumerable<HRM_PLUS_PROJECT.Models.Transaccion>

@{
    ViewData["Title"] = "Transaccíones";
}

<h1>Transacciones</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary btn-rounded">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoTransaccionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoTransaccionNavigation.IdTipoTransaccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaccion" class="btn btn-sm btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaccion" class="btn btn-sm btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaccion" class="btn btn-sm btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
