@model HRM_PLUS_PROJECT.Models.Departamento

@{
    ViewData["Title"] = "Eliminar Departamento";
}


<h3>¿Seguro que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionFisica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionFisica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDepartamento" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>

    </form>
</div>
