@model HRM_PLUS_PROJECT.Models.Departamento

@{
    ViewData["Title"] = "Ver Departamento";
}

<h1>Ver Departamento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionFisica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionFisica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDepartamento">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
