@model IEnumerable<HRM_PLUS_PROJECT.Models.Departamento>

@{
ViewData["Title"] = "Departamentos";
}

<div class="content">
    <div class="row">
        <div class="col-md-12" style="color:white">
            <ol class="breadcrumb" style="margin-bottom:10px;">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
                <li class="breadcrumb-item active">Departamentos</li>
            </ol>
        </div>
        <div class="col-md-9" style="margin-bottom:10px;">
            <a class="btn btn-outline-warning btn-sm" href="@Url.Action("Create", "Departamentos" )">Registrar</a>
            <a class="btn btn-outline-primary btn-sm" href="@Url.Action("ExportaExcel", "Departamentos")">Exportar a Excel</a>
            </div>
    <div class="col-md-3" style="margin-bottom:10px;">
        <form method="get">
            <div class="input-group no-border">
                <input type="text" value="" class="form-control me-sm-2" id="term" name="term" placeholder="Buscar...">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Listado</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        @if (TempData["Error"] != null)
                        {
                        <div class="alert alert-danger" id="cerrar">
                            @TempData["Error"]
                            <span class="close-x" style="cursor: pointer;">x</span>
                        </div>
                        }
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UbicacionFisica)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActivo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UbicacionFisica)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActivo)
                                    </td>
                                    <td>
                                        <a href="/Departamentos/Edit?id=@item.IdDepartamento" class="btn btn-outline-primary btn-sm">Editar</a>
                                        <a href="/Departamentos/Details?id=@item.IdDepartamento" class="btn btn-outline-info btn-sm">Detalle</a>
                                        <a href="/Departamentos/Delete?id=@item.IdDepartamento" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


@section Scripts {
    <script>
       
        document.querySelector('.close-x').addEventListener('click', function() {
            document.querySelector('#cerrar').remove();
        });
    </script>
 }