@model HRM_PLUS_PROJECT.Models.TipoDeduccion

@{
    ViewData["Title"] = "Detalles de Tipo de Deducción";
}

<h1>Detalles</h1>

<div>
    <h4>Tipo de Deducción</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTodoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTodoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimoRango)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimoRango)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximoRango)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximoRango)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDeduccion" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
</div>
