@model IEnumerable<HRM_PLUS_PROJECT.Models.TipoDeduccion>

@{
    ViewData["Title"] = "Tipos de Deducciones";
}

<h1>Tipos de Deducciones</h1>

@*<p>
    <a asp-action="Create">Registrar</a>
</p>*@

<div class="d-flex">
    <div class="col-md-9">
        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Create", "TiposDeducciones" )">Registrar</a>
         <a class="btn btn-outline-primary btn-sm" href="@Url.Action("ExportaExcel", "TiposDeducciones")">Exportar Excel</a>

    </div>
    <div class="col-md-3" style="margin-bottom:10px;">

        <form method="get" class="d-flex">
            <input class="form-control me-sm-2" type="text" id="term" name="term" placeholder="Buscar" />
            <button class="btn btn-secondary my-2 my-sm-0 btn-sm" id="getTerm" type="submit">Buscar</button>
        </form>

    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTodoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimoRango)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximoRango)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTodoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimoRango)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximoRango)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDeduccion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDeduccion">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDeduccion">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
