@model IEnumerable<HRM_PLUS_PROJECT.Models.Puesto>

@{
    ViewData["Title"] = "Puestos";
}

<h1>Puestos</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary btn-rounded">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelRiesgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelRiesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPuesto"  class="btn btn-sm btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPuesto" class="btn btn-sm btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPuesto" class="btn btn-sm btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
