@model HRM_PLUS_PROJECT.Models.Empleado

@{
    ViewData["Title"] = "Ver Empleado";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Empleados</h5>
                    <h4 class="card-title">Ver Empleado</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    @Html.DisplayNameFor(model => model.Cedula)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellido)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalarioMensual)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaRegistro)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsuarioCreacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActivo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdPuestoNavigation)
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.Cedula)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SalarioMensual)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FechaRegistro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UsuarioCreacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.IsActivo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.IdDepartamentoNavigation.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.IdPuestoNavigation.Nombre)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="right-button">
                            <div class="form-group">
                                <br />
                                <a href="./Edit?id=@Model?.IdEmpleado" class="btn btn-outline-primary">Editar</a>
                                <a class="btn btn-outline-info" href="@Url.Action("Index", "Empleados")">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>