@model IEnumerable<HRM_PLUS_PROJECT.Models.Empleado>

@{
ViewData["Title"] = "Empleados";
}

<div class="content">
    <div class="row">
        <div class="col-md-12" style="color:white">
            <ol class="breadcrumb" style="margin-bottom:10px;">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
                <li class="breadcrumb-item active">Empleados</li>
            </ol>
        </div>
        <div class="col-md-9" style="margin-bottom:10px;">
            <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Create", "Empleados" )">Registrar</a>
            <a class="btn btn-outline-primary btn-sm" href="@Url.Action("ExportarExcel", "Empleados")">Exportar a Excel</a>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <form method="get" class="d-flex">
                <input class="form-control me-sm-2" type="text" id="term" name="term" placeholder="Buscar" />
                <button class="btn btn-secondary my-2 my-sm-0 btn-sm" id="getTerm" type="submit">Buscar</button>
            </form>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Listado</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cedula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SalarioMensual)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaRegistro)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActivo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPuestoNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cedula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalarioMensual)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaRegistro)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActivo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPuestoNavigation.Nombre)
                                        </td>
                                        <td>
                                        <a href="./Empleados/Edit?id=@item.IdEmpleado" class="btn btn-outline-primary btn-sm">Editar</a>
                                        <a href="./Empleados/Details?id=@item.IdEmpleado" class="btn btn-outline-info btn-sm">Detalle</a>
                                        <a href="./Empleados/Delete?id=@item.IdEmpleado" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

                                        <script type="text/javascript">

</script>
