@model IEnumerable<HRM_PLUS_PROJECT.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary btn-rounded">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPuestoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPuestoNavigation.IdPuesto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpleado"  class="btn btn-sm btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpleado" class="btn btn-sm btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpleado" class="btn btn-sm btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
